<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <title>Coding Interview 101</title>
</head>
<body>
<div class="container">
  <!-- header -->
  <!-- nav -->
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Coding Interview 101</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active mr-sm-2"><a class="nav-link" href="#">Sign In</a>
        <li class="nav-item mr-sm-2"><a class="nav-link" href="#">List</a>
        <li class="nav-item mr-sm-2"><a class="nav-link" href="#">Menu Icon</a>
      </ul>
    </div>
  </nav>
  <!-- body -->
  <div>
    For the technology company, see Apple Inc. For other uses, see Apple (disambiguation), Apple Blossom (disambiguation), and Apple tree (disambiguation).
Apple
Honeycrisp.jpg
Fruit
Malus domestica a1.jpg
Flowers
Scientific classification e
Kingdom:	Plantae
Clade:	Angiosperms
Clade:	Eudicots
Clade:	Rosids
Order:	Rosales
Family:	Rosaceae
Genus:	Malus
Species:	M. pumila
Binomial name
Malus pumila
Miller, 1768
Synonyms[1][2]
Malus communis Desf.
Malus domestica Borkh. nom. illeg.
M. frutescens Medik.
M. paradisiaca (L.) Medikus
M. sylvestris Mil.
Pyrus malus L.
Pyrus malus var. paradisiaca L.
Pyrus dioica Moench
An apple is a sweet, edible fruit produced by an apple tree (Malus pumila). Apple trees are cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek and European Christian traditions.

Apple trees are large if grown from seed. Generally apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.
  </div>
  <div>
    For the technology company, see Apple Inc. For other uses, see Apple (disambiguation), Apple Blossom (disambiguation), and Apple tree (disambiguation).
Apple
Honeycrisp.jpg
Fruit
Malus domestica a1.jpg
Flowers
Scientific classification e
Kingdom:	Plantae
Clade:	Angiosperms
Clade:	Eudicots
Clade:	Rosids
Order:	Rosales
Family:	Rosaceae
Genus:	Malus
Species:	M. pumila
Binomial name
Malus pumila
Miller, 1768
Synonyms[1][2]
Malus communis Desf.
Malus domestica Borkh. nom. illeg.
M. frutescens Medik.
M. paradisiaca (L.) Medikus
M. sylvestris Mil.
Pyrus malus L.
Pyrus malus var. paradisiaca L.
Pyrus dioica Moench
An apple is a sweet, edible fruit produced by an apple tree (Malus pumila). Apple trees are cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek and European Christian traditions.

Apple trees are large if grown from seed. Generally apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.
  </div>
  <div>
    For the technology company, see Apple Inc. For other uses, see Apple (disambiguation), Apple Blossom (disambiguation), and Apple tree (disambiguation).
Apple
Honeycrisp.jpg
Fruit
Malus domestica a1.jpg
Flowers
Scientific classification e
Kingdom:	Plantae
Clade:	Angiosperms
Clade:	Eudicots
Clade:	Rosids
Order:	Rosales
Family:	Rosaceae
Genus:	Malus
Species:	M. pumila
Binomial name
Malus pumila
Miller, 1768
Synonyms[1][2]
Malus communis Desf.
Malus domestica Borkh. nom. illeg.
M. frutescens Medik.
M. paradisiaca (L.) Medikus
M. sylvestris Mil.
Pyrus malus L.
Pyrus malus var. paradisiaca L.
Pyrus dioica Moench
An apple is a sweet, edible fruit produced by an apple tree (Malus pumila). Apple trees are cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek and European Christian traditions.

Apple trees are large if grown from seed. Generally apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.
  </div>
  <div>
    For the technology company, see Apple Inc. For other uses, see Apple (disambiguation), Apple Blossom (disambiguation), and Apple tree (disambiguation).
Apple
Honeycrisp.jpg
Fruit
Malus domestica a1.jpg
Flowers
Scientific classification e
Kingdom:	Plantae
Clade:	Angiosperms
Clade:	Eudicots
Clade:	Rosids
Order:	Rosales
Family:	Rosaceae
Genus:	Malus
Species:	M. pumila
Binomial name
Malus pumila
Miller, 1768
Synonyms[1][2]
Malus communis Desf.
Malus domestica Borkh. nom. illeg.
M. frutescens Medik.
M. paradisiaca (L.) Medikus
M. sylvestris Mil.
Pyrus malus L.
Pyrus malus var. paradisiaca L.
Pyrus dioica Moench
An apple is a sweet, edible fruit produced by an apple tree (Malus pumila). Apple trees are cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek and European Christian traditions.

Apple trees are large if grown from seed. Generally apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.
  </div>
  <div>
    For the technology company, see Apple Inc. For other uses, see Apple (disambiguation), Apple Blossom (disambiguation), and Apple tree (disambiguation).
Apple
Honeycrisp.jpg
Fruit
Malus domestica a1.jpg
Flowers
Scientific classification e
Kingdom:	Plantae
Clade:	Angiosperms
Clade:	Eudicots
Clade:	Rosids
Order:	Rosales
Family:	Rosaceae
Genus:	Malus
Species:	M. pumila
Binomial name
Malus pumila
Miller, 1768
Synonyms[1][2]
Malus communis Desf.
Malus domestica Borkh. nom. illeg.
M. frutescens Medik.
M. paradisiaca (L.) Medikus
M. sylvestris Mil.
Pyrus malus L.
Pyrus malus var. paradisiaca L.
Pyrus dioica Moench
An apple is a sweet, edible fruit produced by an apple tree (Malus pumila). Apple trees are cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek and European Christian traditions.

Apple trees are large if grown from seed. Generally apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.
  </div>
  <div>
    For the technology company, see Apple Inc. For other uses, see Apple (disambiguation), Apple Blossom (disambiguation), and Apple tree (disambiguation).
Apple
Honeycrisp.jpg
Fruit
Malus domestica a1.jpg
Flowers
Scientific classification e
Kingdom:	Plantae
Clade:	Angiosperms
Clade:	Eudicots
Clade:	Rosids
Order:	Rosales
Family:	Rosaceae
Genus:	Malus
Species:	M. pumila
Binomial name
Malus pumila
Miller, 1768
Synonyms[1][2]
Malus communis Desf.
Malus domestica Borkh. nom. illeg.
M. frutescens Medik.
M. paradisiaca (L.) Medikus
M. sylvestris Mil.
Pyrus malus L.
Pyrus malus var. paradisiaca L.
Pyrus dioica Moench
An apple is a sweet, edible fruit produced by an apple tree (Malus pumila). Apple trees are cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek and European Christian traditions.

Apple trees are large if grown from seed. Generally apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.
  </div>
  <!-- footer -->

</div>
</body>
</html>
